---
import Card from './Card/index.astro'
---

<Card colSpan="lg:col-span-1" rowSpan="lg:row-span-6" title="About me">
	<div class="flex flex-col gap-2">
		<p>
			Hi, I'm Phoenix, a second-year Bachelor of Computer Science (Advanced) student at the
			University of Adelaide. I'm interested in web development and artificial intelligence.
			<br />
		</p>
		<p>
			When I'm not coding, you can find me playing video games, watching movies, and photographing
			various landscapes.
			<br />
		</p>
		<p>
			I'm currently seeking opportunities to apply myself and expand my knowledge through software
			engineering internships, please feel free to get in touch.
			<br />
		</p>
	</div>
</Card>
