---
import Card from './Card/index.astro'
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-4" title="About me">
	<div class="flex flex-col gap-2">
		<p class="text-sm font-light">
			Hi, I'm Phoenix, a second-year Bachelor of Computer Science (Advanced) student at the
			University of Adelaide, with an interest in Artificial Intelligence. I'm excited to use my
			skills and past accomplishments to support upcoming projects and excel in future
			opportunities.
			<br />
		</p>
	</div>
</Card>
