---
import Card from './Card/index.astro'
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-5" title="About me">
	<div class="flex flex-col gap-2">
		<p>
			Hi, I'm Phoenix, a second-year Bachelor of Computer Science (Advanced) student at the
			University of Adelaide. I'm interested in web development and artificial intelligence.
			<br />
		</p>
		<p>
			I'm currently seeking opportunities to apply myself and expand my knowledge through software
			engineering internships, please feel free to get in touch.
			<br />
		</p>
	</div>
</Card>
