---
import Card from './Card/index.astro'
import Button from './Button.astro'
import { LINKS } from '../lib/constants'
import { FaEnvelope, FaGithub, FaLinkedin } from 'react-icons/fa'
---

<Card colSpan="lg:col-span-3" rowSpan="lg:row-span-2">
	<div class="flex h-full w-full">
		<div class="flex flex-col justify-between gap-4 md:max-h-[200px]">
			<div class="flex h-full flex-col">
				<p class="m-0 text-lg font-light md:text-xl">
					Hi, I'm <b class="font-bold">Phoenix Pereira</b>, a current computer science student and
					an aspiring software developer.
				</p>
			</div>
			<div class="flex gap-8">
				<a href={LINKS.email} aria-label="Email" target="_blank">
					<Button aria-label="Email">
						<FaEnvelope className="h-6" />
						<span class="sr-only">Email</span>
					</Button>
				</a>
				<a href={LINKS.linkedin} aria-label="LinkedIn profile" target="_blank">
					<Button aria-label="LinkedIn profile">
						<FaLinkedin className="h-6" />
						<span class="sr-only">LinkedIn Profile</span>
					</Button>
				</a>
				<a href={LINKS.github} aria-label="GitHub profile" target="_blank">
					<Button aria-label="GitHub profile">
						<FaGithub className="h-6" />
						<span class="sr-only">GitHub Profile</span>
					</Button>
				</a>
			</div>
		</div>
		<img
			width="150"
			height="150"
			src="/phoenix.jpg"
			class="ease-in-outactive:translate-x-[3px] pointer-events-none bottom-[0px] right-[0px] z-[-1] ml-4 max-h-[150px] w-auto select-none rounded-lg border border-primary-600 text-xl shadow-custom transition-colors duration-100 md:relative md:bottom-auto md:right-auto md:z-auto md:ml-12"
			alt="Phoenix"
		/>
	</div>
</Card>
