---
import Card from './Card/index.astro'
import ProjectItem from './ProjectItem.astro'
---

<Card colSpan="md:col-span-3" rowSpan="md:row-span-8" title="Projects">
	<div class="flex flex-col gap-2">
		<ProjectItem
			name="Lecture Master"
			date="Aug 2023 - Sep 2023"
			description="Developed a browser extension to automatically skip silent parts of lectures."
			skills={['TypeScript', 'vite.js', 'React.js', 'Tailwind CSS']}
			link="https://github.com/phoenixpereira/Lecture-Master"
		/>

		<ProjectItem
			name="News Sentiment Analysis"
			date="Aug 2023 - Sep 2023"
			description="Analysed the sentiment and emotion of news headlines from 2007 to 2021 of prominent global news outlets."
			skills={['Matplotlib', 'Pandas', 'Python']}
			link="https://github.com/phoenixpereira/News-Sentiment-Analysis"
		/>

		<ProjectItem
			name="Realm of Critters"
			date="Aug 2022 - Oct 2022"
			description="Collaborated within a small team to develop a 2D game using C++ based on 'Vampire Survivors'."
			skills={['C++', 'SFML']}
			link="https://github.com/CuinnKemp/OOP-Project"
		/>

		<ProjectItem
			name="MATLAB Tetris"
			date="Mar 2022 - Apr 2022"
			description="Recreated the classic game Tetris using MATLAB."
			skills={['MATLAB']}
			link="https://github.com/phoenixpereira/MATLAB-Tetris"
		/>
	</div>
</Card>
